<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" href="../stylesheets/about.css"></head>
    <% include header %>
  <body>
    <div class="container-fluid">
      <div class="fondo">
      <div class="row content">
        <div class="col-sm-3 sidenav">
              <div class="container-fluid bg-1 text-center">  
                <img src="../images/carril-bici.png" class="img-responsive img-circle margin"  width="300" height="300">    
          </div>
        </div>
  
      <div class="col-sm-7">
        <br><br>
                <h2>Sobre Nosotros</h2>      
        <p>Esto es un proyecto para la asignatura de Proyectos de aplicaciones de las tecnologías geoespaciales. Esto proyecto ha sido realizado por los alumnos Mario y Andreea. Usando como idea principal la página web de BiciMAD perteneciente al ayuntamiento de la Comunidad de Madrid y tomando ideas de otras páginas para realizar el estilo y el diseño del mapa. </p>
        <br>
      </div>
        <div class="col-sm-7">
        <h2>Los datos que usamos</h2>
        <p>Los datos que se han utilizado para la realización de este proyecto son datos pertenecientes al ayuntamiento de la Comunidad de Madrid. Los datos más relevantes que son la disponibilidad de las bicicletas son obtenidas de la página de BiciMAD.</p>
        <hr>      
      </div>  
      </div>
    </div>
  </div>
</div>

  </body>
</html>