<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" href="../stylesheets/preguntas2.css"></head>
    <% include header %>

    <div></div>
  <div class="GrisArrIz"></div>
  <div class="GrisAbDere"></div>
  <div class="VerdArrbDere"></div>
  <div class="VerdAbIz"></div>
<span  class="titulo">Preguntas frecuentes</span>
<span  class="p2">¿Qué hago si no encuentro un cargador cerca de mi ubicación?</span>
<span  class="p4">¿Qué pasa si encuentro un error en la página o tengo sugerencias de mejora?</span>
<span  class="p1">¿Cómo funciona la página?</span>
<span  class="p3">¿Cuánto cuesta usar la página?</span>
<span  class="r1">Nuestra página cuenta con un mapa que muestra la ubicación de cargadores de bicicletas y las rutas más convenientes para llegar a ellos, utilizando la herramienta de pgrouting. Simplemente ingresa tu dirección de partida y el destino deseado y obtendrás una ruta optimizada.</span>
<span  class="cab">Esta página sirve de ayuda para aquellas personas que tienen alguna duda sobre el funcionamiento de nuestra página web, no dudes en dejar tus dudas para que puedan ser contestadas en la mayor brevedad posible.</span>
<span  class="r2">Intenta ampliar el radio de búsqueda o prueba con una ubicación diferente. También puedes contactarnos para reportar la ausencia de un cargador en una determinada ubicación y trabajaremos para agregarlo a nuestro mapa lo antes posible.</span>
<span  class="r4">Por favor, no dudes en contactarnos para reportar cualquier error o para enviarnos tus sugerencias de mejora. Nos esforzamos por mantener la página lo más precisa y útil posible para nuestros usuarios.</span>
<span  class="r3">Nuestra página es completamente gratuita de usar. Solo necesitas tener una conexión a Internet y un navegador web compatible.</span>

</div>

  </body>
</html>