<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>A Pedales</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
 <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
 <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="#.css">
  <link rel="stylesheet" href="#.css">
  <link rel="stylesheet" href="../stylesheets/inicio.css">
  </head>
<body>
  
  <nav class="navbar navbar-default navbar-light">
      <a class="navbar-brand" href="/">Logo</a>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
        </div>
  
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
             <li><a href="/mapa">Visor de Mapa</a></li>
            <li><a href="/contactar">Preguntas Frecuentes</a></li>
            <li><a href="/about">Quienes Somos</a></li>
             <li><a href="<%= user && user.name ? '/perfilUsuario' : '/login' %>" id="my-element"><%= user && user.name ? 'Perfil de Usuario' : 'Identificate' %></a></li>
          </ul>
          <ul class="cambio navbar-nav nav" >
             <% if (user && user.name) { %>
              <li><a  style="background-color: rgb(190, 33, 33);" href="/logout" id="my-element" >Cerrar Sesion</a></li>
            <% } %>
          </ul>
        </div>
    </nav>
    