<!DOCTYPE html>
<html>
  <% include header %>

 <section class="banner_main">
    <div class="container">
       <div class="row">
          <div class="col-md-12 ">
             <div class="text-bg">
                <h1>A Pedales</h1>
                <p><strong>Madrid, mejor en bici.</strong></p>
                <a href="/mapa">Mapa</a>
             </div>
          </div>
       </div>
    </div>
    
 </section>
 <div id="services" class="container-fluid text-center">
  <h2>¿Qué es lo que ofrecemos?</h2>
<br>
<div class="row">
  <div class="col-sm-4">
    <a href="/mapa" >
    <span class="glyphicon glyphicon-globe"></span></a>
    <h4>MAPA</h4>
    <p>Servicio de mapa que permite visualizar las bicicletas. </p>
  
  </div>
  <div class="col-sm-4">
    <a href="/login">
    <span class="glyphicon glyphicon-user"></span></a>
    <br>
    <h4>PERFIL</h4>
    <p>Crear un usuario</p>
  </div>
  <!--falta añadir perfil-->
  <div class="col-sm-4">
    <a href="#" ></a>
    <span class="glyphicon glyphicon-heart"></span>
    <h4>FAVORITOS</h4>
    <p>Guarda tus bases preferidas</p>
  </div>
  
  </div>
  <br><br>

</div>
  </body>
</html>
