<!DOCTYPE html>
<html>
    <% include header %>
<head>
  
  <link rel="stylesheet" href="../stylesheets/fondo.css">
  
</head>


         
 
    <div class="container-fluid text-center" style=margin-top:10%;>    
         <div class="body">
      <div class="row content">
        <div class="col-lg-2 sidenav"></div>
        <div class="col-lg-3 text-justify"  > 
          <div class="login-box" style="border-style: solid; border-width: 1px; padding: 1%; border-radius: 2.5rem; min-height: 300px; max-height: 300px;background-color: #D0F0C0; border-color: #e7f3e1;">
            <h2 style="text-align: center;">Inicio de Sesión</h2>
            
            <form action="/login" method="post" >
                <div class="user-box" >
                  <div style="text-align: center;">
                    <label for="email">Correo</label>
                  </div>
                  <div style="display:flex; justify-content: center;">
                    <input type="email" name="email" class="form-control" style="width: 40%;">
                  </div>
                    
                </div>
                <div class="user-box">
                  <div style="text-align: center;">
                    <label >Contraseña</label>
                  </div>
                  <div style="display:flex; justify-content: center;">
                    <input type="password" name="password" class="form-control" style="width: 40%;">
                  </div>
                    
                </div>
                <br>
                <div style="text-align: center;">
                  <button type="submit" class="btn btn-primary" style="border-radius: 40%; background-color: rgb(47, 123, 81);">Iniciar Sesión</button>
                </div>
            </form>
            <br>
        </div>
        <br>
        <% if (message.length > 0) { %>
          <div class="alert alert-danger">
            <%= message %>
          </div>
        <% } %>
        </div>
  
        <div class="col-lg-2 sidenav"></div>
        <div class="col-lg-3 text-justify">
          <div class="login-box"  style="border-style: solid; border-width: 1px; padding: 1%; border-radius: 2.5rem; min-height: 300px; max-height: 300px; background-color: #D0F0C0; border-color: #e7f3e1;" >
            <h2 style="text-align: center;">Registrate</h2>
            <p style="padding: 1%;">Si todavia no tienes una cuenta en APEDALES, no espere más y empiece a guardar sus lugares favoritos</p>
            <p style="padding: 1%;">Solo le solicitaremos información imprescindible para la creación de su perfil</p>
           
            <div style="text-align: center;" onclick="window.location.href='/signup';" method='POST'>
              <button type="submit" class="btn btn-primary" style="border-radius: 40%; margin-top: 1%; background-color: rgb(47, 123, 81);">Registrese ahora</button>
            </div>
            <br>
          </div>  
        </div>
        <div class="col-lg-2 sidenav"></div>
      </div>
    </div>
  </div>
  </body>
</html>