<!doctype html>
<html lang="en" ng-app="myApp">
  

  <% include header %>
  <head>
    <link rel="stylesheet" href="../stylesheets/mapa.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
  </head>

  <body >
    
    <pre id='coordenadas'></pre>
    <div id="map1"></div>
    

    <div id="menu" style="position:absolute ;bottom: 45px;right: 100px;">
      <input id="ckiu1e9jn2ggz19s3eg95v3nc" type="radio" name="rtoggle" value="satellite" checked="checked">
      <label for="ckiu1e9jn2ggz19s3eg95v3nc" style="color:#74b5a5;">Modo Dia</label>
      <input id="clcmev9fu003x14lcuos3dom6" type="radio" name="rtoggle" value="light">
      <label for="clcmev9fu003x14lcuos3dom6" style="color:#74b5a5;">Modo Noche</label>
      </div>





    
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVlYWxpZ2lhIiwiYSI6ImNraDRwaWU2YjAwdzYycW9oZzZjbDNwbXYifQ.cUE76oz0QKlWL4WkA3dZjg';  
    
const map1 = new mapboxgl.Map({ 
        container: 'map1', 
        style: 'mapbox://styles/andreealigia/ckiu1e9jn2ggz19s3eg95v3nc',  
        center: [-3.7, 40.422],  
        zoom: 13});

        const layerList = document.getElementById('menu');
        const inputs = layerList.getElementsByTagName('input');
       for (const input of inputs) {
      input.onclick = (layer) => {
      const layerId = layer.target.id;
      map1.setStyle('mapbox://styles/andreealigia/' + layerId);
      };
      }


      
        var request = new XMLHttpRequest();
    request.open('GET', 'https://mynavega.emtmadrid.es/services/api/BiciMadrid/GetStationInfo?', true);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        // La petición ha sido exitosa
        var data = JSON.parse(request.responseText);
        
        // Elimina los marcadores existentes
        map1.removeLayer('marcadores');
        // Agrega los nuevos marcadores al mapa
        map1.addLayer({
          id: 'marcadores',
          type: 'symbol',
          source: {
            type: 'geojson',
            data: data
          },
          layout: {
            'icon-image': 'marker-15'
          }
        });
      } else {
        // Ha ocurrido un error
      }
    };
    
    map1.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
}));
    map1.addControl(new mapboxgl.NavigationControl());
    map1.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
    },
    trackUserLocation: true
}));
map1.on('mousemove', function (e) {
    document.getElementById('coordenadas').innerHTML =
        JSON.stringify(e.lngLat);
});
    request
map1.addControl(new mapboxgl.FullscreenControl());



    $.ajax({
  url: 'https://openapi.emtmadrid.es/v1/transport/bicimad/stations/',
  headers: {
    'accessToken': 'e6a3ee92-9e2b-461a-87f4-d7ab0deef3ec'//'8dc36918-bcbb-49f6-b3b9-c4c8fb1488b3'//a55bfcc2-b3fc-426b-b635-7b8ce5c48f03
  },
  success: function(data) {
    //for (const estacion in data){
      

        data.data.forEach(estacion=>{
      // Asigna el icono adecuado al marcador de acuerdo al número de bicicletas disponibles
      var icono;
      if (estacion.free_bases > 10) {
        icono = './public/images/bicycle_verde.png';
      }  else {
        icono = './public/images/bicycle_rojo.png';
      }
      var marker = new mapboxgl.Marker({
        icon: {
          url: icono
          
        } 
      })
        .setLngLat(estacion.geometry.coordinates)
        .addTo(map1);
        
      // Añade información sobre la estación al marcador
      marker.setPopup(new mapboxgl.Popup({
        offset: 30,
        openingAnimation: {
            duration: 700,
            easing: 'easeOutExpo',
            transform: 'scale'
        },
        closingAnimation: {
            duration: 700,
            easing: 'easeInOutExpo',
            transform: 'scale'
        }
      
      })
      
      .setHTML('<h3>' + estacion.address + '</h3>' +
      
               '<p>Número de bicis disponibles: ' + estacion.free_bases + '</p>' + '<hr>' +
               '<p>Número de bicis reservadas: ' + estacion.reservations_count + '</p>'));
    });
  }
});

   
    </script></div>

  </body>  
</html>