body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: rgb(0, 0, 0);
    background: url(../images/8.jpg);
  }
  h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #74b5a5;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #35a666;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-color: #a9c85b;
    color: #fff;
    padding: 80px 15px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  
  .navbar {
    margin-bottom: 0;
    background-color: #014421;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-right
  {
    transform: translateX(50%);
  }
  .navbar-left
  {
    transform: translateX(-42%);
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {

    color: #D0F0C0 !important;/*#D0F0C0*/
    background-color: #00853E !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #D0F0C0 !important;
  }
