
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: rgb(0, 0, 0);
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #74b5a5;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #35a666;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-color: #a9c85b;
    color: #fff;
    padding: 80px 15px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  
  .navbar {
    margin-bottom: 0;
    background-color: #014421;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-right
  {
    transform: translateX(50%);
  }
  .navbar-left
  {
    transform: translateX(-42%);
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {

    color: #D0F0C0 !important;/*#D0F0C0*/
    background-color: #00853E !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #D0F0C0 !important;
  }
  
  .banner_main {
    background: url(../images/bicimad_i3.jpg);
    padding: 150px 20px;
     background-size: 100% 100%;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
}

.text-bg {
     text-align: center;
}

.text-bg h1 {
     text-transform: uppercase;
     color: rgb(47, 123, 81);
     font-size: 110px;
     line-height: 120px;
     padding-bottom: 15px;
     font-weight: bold;
}

.text-bg p {
     font-size: 17px;
    
     color: rgb(148, 183, 156);
     line-height: 28px;
     font-weight: 500;
     padding-bottom: 50px;
     display: block;
}

.text-bg a {
     font-size: 17px;
     background-color: rgb(208, 227, 208);
     color: rgb(16, 130, 16);
     font-weight: 600;
     padding: 11px 0px;
     width: 100%;
     max-width: 230px;
     text-align: center;
     display: inline-block;
     border-radius: 30px;
     border: #8cb373 solid 4px;
     transition: ease-in all 0.5s;
}